:root {
  --site-bg: #17181c;
  --calc-background: #000000;
  --calc-disp-bg: hsl(225, 11%, 5%);
  --calc-btn-bg: #101114;
  --calc-btn-op-bg: #14213d;
  --calc-btn-eq-bg: #fca311;
  --calc-btn-text: #e5e5e5;
  color: #71788e;

  --calc-border-rad: 2rem;
  --calc-btn-size: 75px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

button {
  border: none;
  outline-color: transparent;
  cursor: pointer;
}

.page-container {
  display: flex;
  flex-direction: column;

  min-height: 100dvh;

  background-color: var(--site-bg);
}

/* HEADER */
/* header {
  margin: 1.5rem 0 3rem;
}

.header-text {
  text-align: center;
  font-size: clamp(2.5rem, 10dvw, 4rem);
  color: var(--calc-btn-text);
} */

/* MAIN */
main {
  flex: 1;
  margin: 0 auto;
  margin-top: 5rem;
}

/* CALCULATOR */
.calculator-container {
  border-radius: var(--calc-border-rad);
  overflow: hidden;

  background-color: var(--calc-background);

  -webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
}

.display {
  height: 200px;
  width: auto;
  padding: 0.5rem 2rem 0.5rem;

  background-color: var(--calc-disp-bg);
  font-size: 3rem;
  text-align: right;
  color: var(--calc-btn-text);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  /* border-bottom-right-radius: 1rem; */
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  padding: 1rem;

  height: var(--calc-btn-size);
  width: var(--calc-btn-size);

  color: var(--calc-btn-text);
  font-size: 1.75rem;

  background-color: var(--calc-btn-bg);

  transition: transform 0.2s;
}
.button:hover {
  transform: scale(1.075);
}
.button:active {
  transform: scale(0.925);
}

.button--operator {
  background-color: var(--calc-btn-op-bg);
}

.operator--equals {
  background-color: var(--calc-btn-eq-bg);
  color: #000000;
}

.operator--mul > p {
  transform: translateY(7px);
}

.backspace-icon {
  filter: invert(1);

  height: auto;
  width: 2rem;

  transform: translateX(-2.5px);
}

/* FOOTER */
.footer {
  width: 100%;
  padding: 1rem 1rem;
  margin-top: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.footer-text {
  font-size: clamp(1rem, 3vw, 1.2rem);
  text-align: center;
  color: var(--calc-btn-text);
}

.github-link {
  filter: invert(1);
  height: auto;
  width: clamp(1.25rem, 4vw, 1.5rem);

  transition: transform 0.3s ease-in-out;
}

.github-link:hover {
  transform: scale(1.2);
}

/* MEDIA QUERIES */
@media (max-width: 465px) {
  main {
    margin: 0;
    display: flex;
  }

  .calculator-container {
    border-radius: 0;

    display: flex;
    flex-direction: column;
    flex: auto;
  }

  .display {
    flex: 1;
  }

  .buttons-container {
    padding: 2rem 10dvw 0;
  }

  .footer {
    background-color: var(--calc-background);
    margin-top: 0;
  }
}

@media (max-width: 380px) {
  .button {
    --calc-btn-size: 65px;
    height: var(--calc-btn-size);
    width: var(--calc-btn-size);
  }

  .backspace-icon {
    width: 1.5rem;
  }
}
